<h2><%= @user_rooms.name %>さんとのチャット</h2>
<table>
<% @chats.each do |chat| %>
    <%= chat.message %>
<% end %>
</table>

<%= form_with model:[@user,@chat],local:true do |f| %>
    <%= f.text_area :message %>
    <%= f.submit %>
<% end %>
